<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
           <img src="ele.jpg">
      <form action="https://formbold.com/s/FORM_ID" method="POST">

        <div class="formbold-mb-6">
            <label for="qusOne" class="formbold-form-label">
              What kind of vehicle do you travel in most often as driver or passenger?
            </label>
            
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Car
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Motorbike
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Flight
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Walk or Cycle
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Public transport
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="formbold-mb-6">
            <label for="qusOne" class="formbold-form-label">
              What percentage of your flights do you offer?
            </label>
            
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  25%
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  50%
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  75%
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Above 90%
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  Not applicable
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>

        <div class="formbold-mb-6">
          <label for="qusOne" class="formbold-form-label">
            How would you best describe your diet?
          </label>
          
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                Meat in every day meal
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                Meat in some meals
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                Meat very rarely
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                Vegetarian
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                Vegan
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
          </div>
        </div>
  
        <div class="formbold-mb-6">
          <label for="qusTwo" class="formbold-form-label">
            Of the food you buy how much is wasted and thrown away?
          </label>
  
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusTwo"
                  id="qusTwo"
                />
                0-20%
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusTwo"
                  id="qusTwo"
                />
                20-40%
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusTwo"
                  id="qusTwo"
                />
                40-60%
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusTwo"
                  id="qusTwo"
                />
                60-80%
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusTwo"
                  id="qusTwo"
                />
                More than 80%
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
          </div>
        </div>
  
        <div class="formbold-mb-6">
          <label for="qusThree" class="formbold-form-label">
            How do you heat your home?
          </label>
  
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusThree"
                  id="qusThree"
                />
                A gas
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusThree"
                  id="qusThree"
                />
                Oil
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusThree"
                  id="qusThree"
                />
                Electricity
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusThree"
                  id="qusThree"
                />
                Wood
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusThree"
                  id="qusThree"
                />
                Heat pump
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="formbold-mb-6">
            <label for="qusTwo" class="formbold-form-label">
              Do you regularly turn off lights and not leave appliances on standby?
            </label>
    
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusTwo"
                    id="qusTwo"
                  />
                  Yes
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusTwo"
                    id="qusTwo"
                  />
                  No
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="formbold-mb-6">
            <label for="qusOne" class="formbold-form-label">
              In a typical month , how much do you spend on phone , internet, and TV contracts? 
            </label>
            
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $0
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $1-$35
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $35-$70
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $70-$90
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $90+
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="formbold-mb-6">
            <label for="qusOne" class="formbold-form-label">
              In a typical month, how much do you spend on entertainment and hobbies(like sports or gym, cinema , books, etc..)?
            </label>
            
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $0-$25
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $25-$50
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $50-$70
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $70-$90
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  $90+
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>
    
          <div class="formbold-mb-6">
            <label for="qusThree" class="formbold-form-label">
              Which of these types of waste do you recycle or compost?
            </label>
    
            <div class="formbold-radio-flex">
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusThree"
                    id="qusThree"
                  />
                  Food
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusThree"
                    id="qusThree"
                  />
                  Paper
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusThree"
                    id="qusThree"
                  />
                  Tin cans
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusThree"
                    id="qusThree"
                  />
                  Plastic
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
    
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusThree"
                    id="qusThree"
                  />
                  Glass
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <button class="formbold-btn">Submit</button>
      </form>
    </div>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: 'Inter', sans-serif;
    }
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }
  
    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 570px;
      width: 100%;
      background: white;
      padding: 40px;
    }
  
    .formbold-img {
      display: block;
      margin: 0 auto 40px;
    }
  
    .formbold-form-input {
      width: 100%;
      padding: 13px 22px;
      border-radius: 5px;
      border: 1px solid #dde3ec;
      background: #ffffff;
      font-weight: 500;
      font-size: 16px;
      color: #536387;
      outline: none;
      resize: none;
    }
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    .formbold-form-label {
      color: #07074d;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 20px;
    }
    .formbold-form-label span {
      color: #536387;
      font-size: 12px;
      line-height: 18px;
      display: inline-block;
    }
  
    .formbold-mb-3 {
      margin-bottom: 15px;
    }
    .formbold-mb-6 {
      margin-bottom: 30px;
    }
    .formbold-radio-flex {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .formbold-radio-label {
      font-size: 14px;
      line-height: 24px;
      color: #07074d;
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .formbold-input-radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .formbold-radio-checkmark {
      position: absolute;
      top: -1px;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #ffffff;
      border: 1px solid #dde3ec;
      border-radius: 50%;
    }
    .formbold-radio-label
      .formbold-input-radio:checked
      ~ .formbold-radio-checkmark {
      background-color: #6a64f1;
    }
    .formbold-radio-checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }
  
    .formbold-radio-label
      .formbold-input-radio:checked
      ~ .formbold-radio-checkmark:after {
      display: block;
    }
  
    .formbold-radio-label .formbold-radio-checkmark:after {
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      transform: translate(-50%, -50%);
    }
  
    .formbold-btn {
      text-align: center;
      width: 100%;
      font-size: 16px;
      border-radius: 5px;
      padding: 14px 25px;
      border: none;
      font-weight: 500;
      background-color: #6a64f1;
      color: white;
      cursor: pointer;
      margin-top: 25px;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
  </style>