body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff; /* Light Blue */
        color: #ffffff; /* Dark Green */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        background-image: url('E:\hackathon\background.jpg'); /* Use forward slashes in the path */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* This ensures the background covers the entire viewport height */
    }
header {
    background-color: rgba(0, 128, 0, 0.5);/* #008000; Green */
    color: #ffffff; /* White */
    text-align: center;
    padding: 2em;
   margin-top: -25px;
   margin-left:-20px;
   margin-right:-20px;
}


form {
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#result{
    color: #ffffff; /* white */
   
}
.result-paragraph {
    background-color: blue;
    color: white;
}
.result-container {
    
    color: white;
    padding: 10px; /* Optional: Add padding for better aesthetics */
}

.result-container h2 {
    margin-bottom: 10px; /* Optional: Add margin below the heading for spacing */
}